<!--いいね部分テンプレート-->
<!--投稿にいいねされていたら-->
<% if post.favorited_by?(current_listener) %>
  <!--いいねを削除-->
  <%= link_to post_post_favorite_path(post, favorite), method: :delete, class: "text-warning ",remote: true do %>
    <!--いいね数-->
    <i class="fas fa-star fa-lg sub2_color hover"><%= post.post_favorites.count %>
      <p class="text-dark" style="font-size:12px;">Likes</p>
    </i>
  <% end %>
  <%= link_to post_post_favorites_path(post) do %><% end %>
<% else %>
  <!--いいね作成-->
  <%= link_to post_post_favorites_path(post), method: :post,class: "link", remote: true do %>
    <!--いいね数-->
    <i class="far fa-star fa-lg hover" style="rgb(063,163,203)">
      <%= post.post_favorites.count %></br><p class="text-dark" style="font-size:12px;">Likes</p>
    </i>
  <% end %>
<% end %>