<% if post.favorited_by?(current_listener) %>
  <%= link_to post_post_favorite_path(post, favorite), method: :delete, class: "text-warning",remote: true do %><i class="fas fa-star fa-lg"><%= post.post_favorites.count %><p class="text-dark" style="font-size:12px;">Likes</p></i><% end %>
  <%= link_to post_post_favorites_path(post) do %><% end %>
<% else %>
    <%= link_to post_post_favorites_path(post), method: :post, remote: true do %><i class="far fa-star fa-lg"><%= post.post_favorites.count %></br><p class="text-dark" style="font-size:12px;">Likes</p></i><% end %>

<% end %>