<h2>Sign up</h2>

<%= form_with model: @creater, url: artist_creater_registration_path, method: :post ,local: true do |f| %>
  <%= render "artist/creaters/shared/error_messages", resource: resource %>
  <!--名前を登録-->
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus:true %>
  </div>
　<!--メールアドレスを登録-->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
　<!--パスワードを登録-->
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
　<!--パスワード確認-->
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
　<!--登録-->
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<!--ログインや各SNSログイン先へ遷移-->
<%= render "artist/creaters/shared/links" %>
