<!--グループ一覧-->
<h3 class="text-center" style="margin-top:100px;" ><i class="fas fa-users"></i> Groups</h3>
<div class="row mt-4 ">
  <!--左メニュー-->
  <div class="col-3 ml-5 ">
    <%= render "layouts/menu", mygroups: @mygroups %>
  </div>
   <!--グループ一覧の部分テンプレート取得-->
  <div class="col-5 ml-3 mt-5">
    <!--無限スクロール-->
    <div class="scroll-list jscroll">
      <%= render "public/groups/index", groups: @groups %>
    </div>
  </div>
  <!--右側ランキング-->
  <div class="col mr-5">
    <!--グループメンバーランキング-->
    <table class="table mb-5" style="bordercolor= rgb(063,163,203)">
      <thead>
        <h6 class="text-center text-main mx-auto">Group Joiner Rank</h6>
      </thead>
      <!--ランク番号用の変数-->
      <% i = 0  %>
      <% @group_listeners_rank.each do |group_rank|  %>
      <tr>
        <!--ランク番号-->
        <th class="align-middle" style="padding:0;">
          <% i += 1  %>
          <%= i %>
        </th>
        <td class="d-flex align-middle">
          <div>
            <!--グループ画像-->
            <div>
              <%= link_to group_path(group_rank) do%>
                <%= attachment_image_tag group_rank, :image, size:"30x30", fallback: "no_image.jpg",class: " profile_image rounded-circle" %>
              <% end %>
            </div>
            <!--グループ名-->
            <div style="font-size: 10px;">
              <%= group_rank.name %>
            </div>
          </div>
          <!--グループ説明-->
          <%= link_to group_path(group_rank.id),class: "link-none",'data-turbolinks': false do %>
            <p class=" align-self-center ml-3"style="font-size: 12px;" ><%= group_rank.introduction.truncate(15) %></p>
          <% end %>
        </td>
        <!--グループメンバー数-->
        <td class="align-middle">
          <p class="d-block text-center" style=" font-size: 12px; margin:0;" ><%= group_rank.group_listeners.count %></p>
          <p class="d-block" style="font-size: 10px;">People</p>
        </td>
      </tr>
      <% break if i== 5 %>
      <% end %>
    </table>
    <!--新グループ作成画面-->
    <div class="text-center" style="margin-top:100px;">
      <%= link_to new_group_path ,class:"link" do %>
        <div class="btn btn-outline-main btn-block"><i class="fas fa-users"></i> New Group</div>
      <% end %>
    </div>
  </div>
</div>
