<div class="row mt-5 ">
  <div class="mx-auto">
  <%=  form_with url: order_posts_path ,method: :get, local: true do |f| %>
    <div>
      <%= f.select :keyword,[ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old'], ['いいねの多い順', 'likes'] ]%>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>

<div class="row mt-5" >
  <% posts.each do |post| %>
  <div class="col-lg-5  offset-lg-1  col-8 offset-2" style="margin-top: 150px; " >
    <div class="card mt-4 shadow-lg h-100" >
      <div>
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post,:picture,:fill,300,300,size: "300x300", class: "card-img-top"%>
        <% end %>
      </div>
      <div class="card-body">
        <%# 名前と画像 %>
        <div class="card-text" >
          <%= link_to listener_path(post.listener),class: "text-dark" do %>
          <div class="d-inline-block">
            <%= attachment_image_tag post.listener,:profile_image ,size:"50x50", fallback: "no_image.jpg",class: "mt-3 rounded-circle" %>
          </div>
          <div class="d-inline-block">
            <%= post.listener.name%>
          </div>
          <% end %>
        </div>
        <%# 曲名とアーティスト名 %>
        <h3 class="card-text text-center"><%= post.post_tweet  %></h4>
        <%# 説明 %>
        <p class="card-text text-center"><%= post.post_url %></p>
        <%= link_to "show" ,post_path(post) %>
        <%# 投稿日 %>
        <div class="text-right mt-3"><%= time_ago_in_words(post.created_at) %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
  <div class="row my-5">
    <div class="mx-auto">
      <table>
        <thead>
          <h4>いいねランキング</h4>
        </thead>
        <% i = 0  %>
        <% post_favorite_rank.each do |fav_rank|  %>
        <tr>
          <th>
            <% i += 1  %>
            <%= i %>
            </th>
          <td><%= fav_rank.post_tweet %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row my-5">
    <div class="mx-auto">
      <table>
        <thead>
          <h4>閲覧数ランキング</h4>
        </thead>
        <% i = 0  %>
        <% post_impression_rank.each do |imp_rank|  %>
        <tr>
          <th>
            <% i += 1  %>
            <%= i %>
            </th>
          <td><%= imp_rank.post_tweet %>  <%= imp_rank.impressions_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>