<h3 class="text-center" style="margin-top:100px;" ><i class="fas fa-asterisk">Detail</i></h3>
<div class="row mt-4 ">
  <div class="col-3 ml-5 ">
    <%= render "layouts/menu", mygroups: @mygroups %>
  </div>
  <div class="col-5 ml-5 mt-5">
    <div class="card">
        <div class="card-body">
          <%# 名前と画像 %>
          <div class="card-text" >
          <%= link_to listener_path(@post.listener),class: "text-dark" do %>
            <table class="table table-borderless">
              <tr>
                <td class="align-middle" style="width:60px; padding:0;">
                  <%= attachment_image_tag @post.listener,:profile_image ,size:"60x60", fallback: "no_image.jpg",class: "profile_image mt-3 rounded-circle" %>
                </td>
                <td class="align-middle">
                  <%= @post.listener.name%>
                    <% if @post.listener.listener_type == 1  %>
                    <i class="fa fa-circle" style="color: gold;"></i>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
          </div>
          <%# 投稿文 %>
          <h5 class="card-text text-center mt-2"><%= @post.post_tweet  %></h5>
          <!--タグ一覧-->
          <p class="card-text text-center">
            <% @post.tags.each do |tag| %>
              <%= link_to tag.tag_name, search_tag_posts_path(tag_id: tag.id) , class: "tag" %>
            <% end %>
          </p>
          <div class="text-center mt-5">
            <%= link_to post_path(@post) do %>
              <%= attachment_image_tag @post,:picture,size:"200x200"%>
            <% end %>
          </div>
           <!--linkpreviewの部分-->
          <div class="card mb-3 my-5">
            <div class="row">
              <div class="col-md-4 my-auto">
                <a id="link" href="<%= @post.post_url %>" target="_blank">
                  <img id="link_img" class="card-img" src="">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a id="link" class="link-none" href="<%= @post.post_url %>" target="_blank">
                    <h3 id="linktitle" class="card-title"></h3>
                    <p id="linkcaption"></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <%# 編集・削除 %>
          <div class="mt-4 text-right">
            <% if @post.listener == current_listener %>
            <button type="button" class="btn "> <%= link_to edit_post_path(@post),class: "text-info" do%><i class="fas fa-edit">Edit</i><% end %></button>
            <button type="button" class="btn "><%= link_to post_path(@post),method: :delete, "data-confirm" => "Do you really delete?",class: "text-danger" do%><i class="fas fa-trash-alt">Delete</i><% end %></button>
            <% end %>
          </div>
          <div class="mt-4 text-center" >
            <%# ファボ %>
            <div class="d-inline mt-4" style="margin-right:80px;"  id="post_post_favorite_<%= @post.id  %>">
              <% @favorite = PostFavorite.find_by(post_id: @post.id,listener_id: current_listener.id) %>
              <%= render 'public/post_favorites/favorite', post: @post, favorite: @favorite %>
            </div>
            <%# コメント数 %>
            <div class="d-inline ml-2 mt-4">
              <i class="fas fa-comments text-info fa-lg main-color"><%= @post.post_comments.count %></br><p class="text-dark " style="font-size:12px;">Comments</p></i>
            </div>
            <%# 投稿日 %>
            <div class="text-right"><%= time_ago_in_words(@post.created_at) %></div>
          </div>
        </div>
      </div>
    <script>
    　const data = {
      key:'3ce2027b63ce4b30403332b3eb475fbe',
      q: "<%= @post.post_url%>"
      }
      //プレビュー表示用の関数
      const createIMG = json => {
        document.querySelector('#link_img').src = json.image;
        document.querySelector('#linktitle').textContent = json.title;
        document.querySelector('#linkcaption').textContent = json.description;
        document.querySelector('#link').href = json.url;
      }
      //LinkPreviewを利用した通信処理
      fetch('https://api.linkpreview.net', {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify(data),
      })
      .then(data => data.json())
      .then(json => createIMG(json));
    </script>
  </div>
  <div class="col-3">

  </div>
</div>
<div class="row mt-4" id="comment">
  <%= render "public/post_comments/comments",comments: @comments, post: @post, post_comment_n: @post_comment_n %>
</div>
<div class="row " style="margin-top:100px;">
  <div class="col-8 offset-2">
    <%= link_to posts_path do%>
      <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Posts</button>
    <% end %>
  </div>
</div>


