<!--いいねした人一覧-->
<h3 class="text-center" style="margin-top:100px;"><i class="far fa-star"></i> reposts</h3>
<div class="row" style="margin-top:80px;">
  <!--いいねした人が存在すれば-->
  <% if @reposts.exists?  %>
  <div class="col-9 mx-auto">
    <table class="table">
      <thead>
        <!--テーブルのタイトル-->
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Follow&Unfollow</th>
          <th class="text-center">Follows</th>
          <th class="text-center">Followers</th>
          <th class="text-center">Chat</th>
        </tr>
      </thead>
      <tbody>
        <% @reposts.each do |repost|  %>
        <tr>
          <!--リスナー名・画像-->
          <td class="align-middle text-center">
            <%= link_to listener_path(repost.listener.id), class: "text-dark" do %>
            <div>
              <%= attachment_image_tag repost.listener, :profile_image,size:"50x50", fallback: "sky-2076868_1280.jpg",class: "rounded-circle"%>
            </div>
            <div>
              <%= repost.listener.name %>
              <% if repost.listener.listener_type == 1  %>
                <i class="far fa-user-circle " style="color:rgb(063,163,203);"></i>
              <% end %>
            </div>
            <% end %>
          </td>
          <!--フォロー・アンフォロー-->
          <td class="align-middle text-center">
          <!--自分と一致しない限り-->
          <% unless current_listener.id == repost.listener.id %>
            <!--自分がフォローをしていればアンフォロー-->
            <% if current_listener.followings.exists?(repost.listener.id) %>
              <%= link_to listener_relationships_path(repost.listener.id), method: :delete ,class: "link" do %>
              <div class="btn btn-outline-main">Unfollow</div>
              <% end %>
            <!--フォローしていなければフォロー-->
            <% else %>
              <%= link_to listener_relationships_path(repost.listener.id), method: :post,class: "link"   do %>
              <div class="btn btn-main">Follow</div>
              <% end %>
            <% end %>
          <% end %>
          </td>
          <!--フォロ数・フォロー一覧へ-->
          <td class="align-middle text-center">
            <%= link_to listener_followings_path(repost.listener),class:"text-dark"  do %>
              <i class="fas fa-listener-check fa-lg mt-3"><%= repost.listener.followings.count %></i>
            <% end %>
          </td>
          <!--フォロワー数・フォロワー一覧へ-->
          <td class="align-middle text-center">
            <%= link_to listener_followers_path(repost.listener),class:"text-dark"  do %>
              <i class="fas fa-listener-friends fa-lg mt-3"><%= repost.listener.followers.count %></i>
            <% end %>
          </td>
          <!--相互フォローであればチャットへ-->
          <td class="align-middle text-center">
            <% if (current_listener.followers.include? repost.listener)  && (repost.listener.followers.include? current_listener )%>
              <%= link_to chat_path(repost.listener.id) do  %>
                <div class="btn btn-info">Chat</div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!--いいねした人がいなければ-->
  <% else %>
  <div class="col-9 mx-auto">
    <div class="text-center">
      <h3>No repostrites</h3>
    </div>
   </div>
  <% end %>

</div>
<!--バックボタン-->
<div class="row mt-5 " id="comment">
  <div class="col-8 offset-2">
    <!--前のページへ-->
    <%= link_to 'javascript:history.back()', 'data-turbolinks': false  do%>
      <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Back</button>
    <% end %>
  </div>
</div>