<div class="container mt-4">
  <h2 class="text-center" id="area-1" style="margin-top:100px;" >Follow</h2>
  <div class="row"style="margin-top:80px;">
    <% if @listeners.exists?  %>
    <div class="col-8 offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Follow</th>
          <th>Follower</th>
          <th>Chat</th>
        </tr>
      </thead>
      <tbody>
        <% @listeners.each do |listener|  %>
        <tr>
          <td>
            <%= link_to listener_path(listener.id)do %>
            <div>
              <%= attachment_image_tag listener, :profile_image,size:"50x50", fallback: "no_image.jpg",class: "rounded-circle"%>
            </div>
            <div>
              <i class="text-dark ml-2"><%= listener.name %></i>
            </div>
            <% end %>
          </td>
          <td><%= link_to listener_followings_path(listener),class:"text-dark"  do %><i class="fas fa-listener-check fa-lg mt-3"><%= listener.followings.count %></i><% end %></td>
          <td><%= link_to listener_followers_path(listener),class:"text-dark"  do %><i class="fas fa-listener-friends fa-lg mt-3"><%= listener.followers.count %></i><% end %></td>
          <td>
            <% if (current_listener.followers.include? listener)  && (listener.followers.include? current_listener )%>
              <%= link_to chat_path(listener.id) do  %>
                <div class="btn btn-main">Chat</div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% else %>
    <div class="mx-auto">
      <h1><i class="fas fa-listeners-slash">&nbsp;No listeners</h1></i>
    </div>
    <% end %>
  </div>
</div>
<div class="row mt-5 " id="comment">
  <div class="col-8 offset-2">
    <%= link_to :back do%>
      <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Back</button>
    <% end %>
  </div>
</div>