<!--コメント一覧と新規フォーム-->
<div class="col-8 mt-5 offset-2">
  <h3><i class="fas fa-comments "></i> Comment</h3>
  <div class="table-responsive">
  <!--コメント一覧-->
  <table class="table table-hover mt-3" >
    <tbody>
      <% music_comments.each do |music_comment| %>
      <tr>
        <!--コメントリスナー-->
        <td class=" align-middle text-center" style="width:15%;">
          <!--リスナー詳細へ-->
          <%= link_to  listener_path(music_comment.listener_id), class: "text-dark" do %>
          <div><%= attachment_image_tag music_comment.listener,:profile_image ,size:"50x50", fallback: "sky-2076868_1280.jpg",class:"mt-3 rounded-circle" %></div>
          <div>&ensp;<%= music_comment.listener.name %></div>
          <% end %>
        </td>
        <!--コメント-->
        <td class="align-middle " style="width:30%;" >
          <%= music_comment.comment %>
        </td>
        <!--コメント詳細へ-->
        <td class=" align-middle text-center" style="width:10%;">
          <p class="mb-0">
            <% @reply = MusicComment.where(reply_comment: music_comment.id) %>
            <%= link_to artist_album_album_music_music_comment_path(music_comment.album,music_comment.album_music,music_comment), class:"link-none5" do%>
              <!--リプライ数表示-->
              <i class="fas fa-reply-all fa-lg hover"></i> <%= @reply.count %>
            <% end %>
          </p>
        </td>
        <!--コメント解析スコア表示-->
        <!--全ての権限を持っている人であれば（クリエイター権限を持っていれば）、スコア閲覧可能-->
        <% if can? :manage , current_listener %>
          <!--なおかつ自分の投稿したアルバム・楽曲の場合のみスコアを表示-->
          <% if album_music.creater == current_listener.creater %>
            <!--コメント評価Natural LanguageAPI-->
            <td class="align-middle " style="width:15%;" >
              <!--スコアによって絵文字を変える！-->
              <!--スコアが0.4以下なら-->
              <% if music_comment.score.to_d < 0 %>
                <!--青色の泣いた顔を表示-->
                <i class="far fa-sad-cry fa-lg" style="color:rgb(001,093,178);"></i> <%= music_comment.score %>
              <!--0.7以下なら-->
              <% elsif music_comment.score.to_d <= 0.5  %>
                <!--黄色のウインクした顔を表示-->
                <i class="far fa-smile-wink fa-lg" style="color:rgb(255,213,055);"></i> <%= music_comment.score %>
              <!--0.7より上の場合-->
              <% elsif 0.5 < music_comment.score.to_d %>
                <!--赤色の笑顔を表示-->
                <i class="far fa-smile-beam fa-lg" style="color:rgb(234,085,050);"></i> <%= music_comment.score %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!--星ランク表示-->
        <td class="align-middle " style="width:20%;" >
          <% unless music_comment.rate.nil? %>
          <div id="music_post_rate_<%= music_comment.id  %>" data-score="<%= music_comment.rate %>" class="text-center mt-3"></div>
          <!--ランク表示Javascript-->
          <script>
              $('#music_post_rate_<%= music_comment.id %>').empty();
              $('#music_post_rate_<%= music_comment.id  %>').raty({
                readOnly: true,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: function() {
                return $(this).attr('data-score');
              }
             });
          </script>
          <% end %>
        <!--ログインユーザーと一致すれば-->
        <% if music_comment.listener == current_listener %>
        <!--コメント編集ボタン-->
        <td class="align-middle text-center" style="width:10%;">
          <div class="btn d-block" style="width: 70px; ">
            <%= link_to edit_artist_album_album_music_music_comment_path(music_comment.album,music_comment.album_music,music_comment),method: :get, class: "text-info" do %>
              <i class="fas fa-edit">Edit</i>
            <% end %>
          </div>
          <!--コメント削除ボタン-->
          <div class="btn d-block" style="width: 70px; ">
            <%= link_to artist_album_album_music_music_comment_path(music_comment.album,music_comment.album_music,music_comment),method: :delete,'data-confirm' => "本当に消しますか？", class: "text-danger",remote: true do %>
              <i class="fas fa-trash-alt">Delete</i>
            <% end %>
          </div>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <!--コメント投稿フォーム-->
  <div >
    <%= form_with(model:[ album, album_music, music_comment],url: artist_album_album_music_music_comments_path(album,album_music) ,local: false) do |f| %>
    <!--コメント欄-->
    <div>
      <%= f.text_area :comment, rows:'5',placeholder: "Comment" ,class: "form-control" %>
    </div>
    <!--ランク入力-->
    <div id="post_star" class="mb-2 mt-3">
      <%= f.label :post_rate,'Rating' %>
      <%= f.hidden_field :rate,id: :review_star %>
    </div>
    <!--ランク入力用Javascript-->
    <script>
        $('#post_star').raty({
       starOn: "<%= asset_path('star-on.png') %>",
       starOff: "<%= asset_path('star-off.png') %>",
       starHalf: "<%= asset_path('star-half.png') %>",
       scoreName: 'music_comment[rate]', //登録するモデル名とカラム名を記述
       half: true,
       });
    </script>
    <!--送信ボタン-->
    <button class="btn btn-main mt-4" style="width:100px">Post
      <%= f.hidden_field :listener_id, :value => current_listener.id %>
      <% f.submit %>
    </button>
    <% end %>
  </div>
</div>

