<!--アルバム一覧部分テンプレート-->
<% albums.each do |album| %>
  <!--アルバムカード-->
  <div class="card  shadow-sm " >
    <div class="card-body">
      <!--クリエイター名と画像-->
      <div class="card-text" >
      <!--クリエイターページへ-->
      <%= link_to artist_creater_path(album.creater),class: "text-dark" do %>
        <table class="table table-borderless">
          <tr>
            <!--クリエイター画像-->
            <td class="align-middle" style="width:60px; padding:0;">
              <%= attachment_image_tag album.listener,:profile_image ,size:"60x60", fallback: "sky-2076868_1280.jpg",class: "profile_image mt-3 rounded-circle" %>
            </td>
            <!--クリエイター名-->
            <td class="align-middle">
              <%= album.listener.name%>
              <!--クリエイターのみ表示マーク-->
              <% if album.listener.listener_type == 1  %>
                <i class="far fa-user-circle " style="color:rgb(156,209,237);"></i>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
      </div>
      <!--アルバム名-->
      <h5 class="card-text text-center mt-2"><%= album.name  %></h5>
      <!--アルバム画像-->
      <div class="text-center mt-5">
        <%= link_to artist_album_path(album)do %>
          <%= attachment_image_tag album,:album_image ,size:"200x200" %>
        <% end %>
      </div>
      <!--アルバム説明-->
      <p class="card-text text-center mt-2"><%= album.caption  %></p>
      <!--アルバム詳細ボタン-->
      <div class="mt-4 d-flex justify-content-center" >
        <!--詳細画面へ-->
        <div class=" mt-4" style="margin-right:80px;" >
          <!--アルバム詳細へ-->
          <%= link_to artist_album_path(album), class:"card-title text-center", 'data-turbolinks': false do %>
            <i class="fas fa-arrow-circle-right fa-lg main-color hover">
              <p class="text-dark" style="font-size:12px;"> Detail</p>
            </i>
          <% end %>
        </div>
        <!--投稿曲視聴-->
        <div class=" mt-4" style="" >
          <a class="card-title text-center" href="<%= album.album_url %>" target="_blank">
            <i class="fas fa-headphones-alt fa-lg main-color hover">
              <p class="text-dark" style="font-size:12px;">Music</p>
            </i>
          </a>
        </div>
      </div>
      <!--投稿日-->
      <div class="text-right"><%= l album.created_at %></div>
    </div>
  </div>
<% end %>
<!--無限スクロール用のリンク-->
<div>
  <%= link_to_next_page albums,'次のページ', class: "next" %>
</div>