<h3 class="text-center" style="margin-top:100px;" ><i class="fas fa-compact-disc"></i> Album Detail</h3>
<div class="row mt-4 ">
  <!--左メニューバー-->
  <div class="col-md-3 ml-md-5 column-left">
    <%= render "layouts/menu", mygroups: @mygroups %>
  </div>
  <!--アルバム詳細-->
  <div class="col-md-5 ml-md-5 mt-md-5 column-center">
    <div class="card">
        <div class="card-body">
          <!--クリエイター名と画像-->
          <div class="card-text" >
          <!--クリエイターページへ-->
          <%= link_to artist_creater_path(@album.creater),class: "text-dark" do %>
            <table class="table table-borderless">
              <tr>
                <!--クリエイター画像-->
                <td class="align-middle" style="width:60px; padding:0;">
                  <%= attachment_image_tag @album.creater.listener,:profile_image ,size:"60x60", fallback: "no_image.jpg",class: "profile_image mt-3 rounded-circle" %>
                </td>
                <!--クリエイター名-->
                <td class="align-middle">
                  <%= @album.creater.listener.name%>
                  <!--クリエイターのみ表示マーク-->
                  <% if @album.creater.listener.listener_type == 1  %>
                    <i class="far fa-user-circle " style="color:rgb(156,209,237);"></i>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
          </div>
          <!--アルバム名-->
          <h4 class="card-text text-center mt-2"><%= @album.name  %></h4>
          <!--アルバム説明-->
          <p class="card-text text-center mt-2"><%= @album.caption %></p>
          <div class="text-center mt-5">
            <%= link_to artist_album_path(@album), 'data-turbolinks': false do %>
              <%= attachment_image_tag @album,:album_image,size:"200x200"%>
            <% end %>
          </div>
           <!--linkpreviewAPIの取得分-->
          <div class="card mb-3 my-5">
            <div class="row">
              <div class="col-md-4 my-auto">
                <!--リンク画像-->
                <a id="link" href="<%= @album.album_url %>" target="_blank">
                  <img id="link_img" class="card-img" src="">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a id="link" class="link-none" href="<%= @album.album_url %>" target="_blank">
                    <!--リンクタイトル-->
                    <h3 id="linktitle" class="card-title"></h3>
                    <!--リンク詳細説明-->
                    <p id="linkcaption"></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--編集・削除-->
          <div class="mt-4 text-right">
            <!--ログインユーザーのマイページのみ表示-->
            <% if @album.creater.listener == current_listener %>
              <!--編集-->
              <button type="button" class="btn">
                <%= link_to edit_artist_album_path(@album),class: "text-info" do%>
                  <i class="fas fa-edit">Edit</i>
                <% end %>
              </button>
              <!--削除へ-->
              <button type="button" class="btn ">
                <%= link_to artist_album_path(@album),method: :delete, "data-confirm" => "本当に消しますか?",class: "text-danger" do%>
                  <i class="fas fa-trash-alt">Delete</i>
                <% end %>
              </button>
            <% end %>
          </div>
          <!--投稿日-->
          <div class="text-right">
            <%= l @album.created_at %>
          </div>
        </div>
      </div>
    <!--linkpreviewのjavascript-->
    <script>
    　const data = {
      key:'3ce2027b63ce4b30403332b3eb475fbe',
      q: "<%= @album.album_url%>"
      }
      //プレビュー表示用の関数
      const createIMG = json => {
        document.querySelector('#link_img').src = json.image;
        document.querySelector('#linktitle').textContent = json.title;
        document.querySelector('#linkcaption').textContent = json.description;
        document.querySelector('#link').href = json.url;
      }
      //LinkPreviewを利用した通信処理
      fetch('https://api.linkpreview.net', {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify(data),
      })
      .then(data => data.json())
      .then(json => createIMG(json));
    </script>
  </div>
  <!--右側ランキング-->
  <div class="col-md-3 column-right">
    <h6 class="mx-auto text-main">Music Listen Ranking</h6>
    <table class="table mb-5" style="bordercolor= rgb(063,163,203)">
      <!--ランク番号用の変数-->
      <% i = 0  %>
      <% @music_impression_rank.each do |imp_rank|  %>
      <tr>
        <!--ランク番号-->
        <th class="align-middle" style="padding:0;" style="width:10%;">
          <% i += 1  %>
          <%= i %>
        </th>
        <!--楽曲詳細-->
        <td class="align-middle" style="width:20%; margin:0px; padding:0px;">
          <div class="text-center">
          <!--楽曲詳細へ-->
            <%= link_to artist_album_path(imp_rank.album), 'data-turbolinks': false do %>
              <%= attachment_image_tag imp_rank.album, :album_image, size:"30x30",fallback: "sky-2076868_1280.jpg",class: "profile_image rounded-circle" %>
            <% end %>
          </div>
          <!--楽曲名-->
          <p class="text-center" style="font-size: 10px; margin:0px;"><%= imp_rank.album.name %></p>
        </td>
        <td class="align-middle" style="width:60%; margin:0px; padding:0px;">
          <%= link_to artist_album_album_music_path(imp_rank.album.id,imp_rank.id),class: "link-none",'data-turbolinks': false do %>
            <p class="align-self-center ml-3" style="font-size: 12px;"><%= imp_rank.name %> </p>
          <% end %>
        </td>
        <!--閲覧数-->
        <td class="align-middle" style="width:10%;">
          <p class="d-block text-center" style=" font-size: 12px; margin:0;" ><%= imp_rank.impressions_count %></p>
          <p class="d-block" style="font-size: 10px;">Listens</p>
        </td>
      </tr>
      <% break if i== 5 %>
      <% end %>
    </table>
  </div>
</div>

<div class="row mt-md-5">
  <div class="col-md-6 offset-md-3 mt-md-5 text-center">
    <!--Cancancanの権限管理クリエイターの人しか次のページにいくことができない。権限があるか無いかの確認-->
    <% if can? :read, current_listener  %>
      <!--ログインユーザーとこのアルバムのクリエイターが一致するかどうか。-->
      <% if @album.creater.listener == current_listener %>
      　<!--一致する場合のみ楽曲登録可能。楽曲登録ページへ-->
        <%= link_to new_artist_album_album_music_path(@album),class:"link" do %>
          <div class="btn btn-outline-main"><i class="fas fa-music"></i> Music</div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!--このアルバムの楽曲一覧-->
<h3 class="text-center my-5" ><i class="fas fa-music"></i> Musics in this Album</h3>
  <div class="row mt-md-5" >
    <div class="col-md-10 offset-md-1" >
      <!--楽曲一覧部分ページを取得-->
       <%= render "artist/album_musics/index", album_musics: @album_musics %>
    </div>
  </div>

<!--バックボタン。アルバム一覧へ-->
<div class="row mt-md-5 ">
  <div class="col-md-10 offset-md-1">
    <%= link_to artist_albums_path do%>
      <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Albumsへ</button>
    <% end %>
  </div>
</div>




