<!--ホームページ-->
<h3 class="text-center" style="margin-top:50px;" ><i class="fas fa-compact-disc"></i> Home Album</h3>
<div class="row  mt-4" >
  <!--左メニュー-->
  <div class="col ml-md-5 column-left">
    <%= render "layouts/menu", mygroups: @mygroups %>
    <!--インクリメンタルサーチ-->
    <h4 class="mx-auto text-main2">Easy Search</h4>
    <div class="infinite-search-box " style="margin-top:50px;">
      <div class="d-inline infinite-search-form">
      <!--現在のページがホームページである場合のみ、インクリメンタルサーチを表示-->
      <% if current_page?(home_album_path)  %>
        <%= form_with url: search_artist_albums_path, method: :get, local: true do |f|%>
          <%= f.text_field :keyword, placeholder: "Album Search",class: "form-control ", id: 'searching-form-album'%>
      </div>
      <div class="btn d-inline" style="padding:0;" >
        <i class="fas fa-search fa-lg hover " style="color:rgb(156,209,237); padding:0;"></i>
        <% f.submit %>
      </div>
        <% end %>
      <% end %>
    </div>
    <!--インクリメンタルサーチの結果を以下div内に表示-->
    <div class="search-post-album">

    </div>
  </div>
  <!--メイン、フォローいている人の投稿一覧-->
  <div class="col-md-5 ml-md-3  mt-md-5 column-center" >
    <div class="scroll-list jscroll">
      <!--投稿一覧部分テンプレート-->
     <%= render "artist/albums/index", albums: @albums  %>
    </div>
  </div>
  <!--右側ランキング-->
  <div class="col mr-md-5 column-right">
    <!--クリエイターフォロワーランキング-->
    <h6 class="text-center text-main mx-auto">Creater Follower Rank</h6>
    <table class="table mb-5" style="bordercolor= rgb(063,163,203)">
      <!--ランク番号用の変数-->
      <% i = 0  %>
      <% @creaters.each do |creater|  %>
      <tr>
        <!--ランク番号-->
        <th class="align-middle" style="padding:0;" style="width:10%;">
          <% i += 1  %>
          <%= i %>
        </th>
        <!--クリエイター詳細-->
        <td class="align-middle" style="width:20%; margin:0px; padding:0px;">
          <div class="text-center">
          <!--クリエイター詳細ページへ-->
            <%= link_to artist_creater_path(creater.creater)do%>
              <%= attachment_image_tag creater, :profile_image, size:"30x30",fallback: "sky-2076868_1280.jpg",class: "profile_image rounded-circle" %>
            <% end %>
          </div>
          <!--クリエイター名-->
          <p class="text-center" style="font-size: 10px; margin:0px;"><%= creater.name %></p>
        </td>
        <!--クリエイター自己紹介-->
        <td class="align-middle" style="width:60%; margin:0px; padding:0px;">
          <!--自己紹介がある場合は、truncateメソッドありで表示-->
          <% if creater.caption.blank?  %>
            <p class="align-self-center ml-3" style="font-size: 12px;"><%= creater.caption %></p>
          <!--自己紹介がない場合は、truncateメソッド無しで表示-->
          <% else %>
            <p class="align-self-center ml-3" style="font-size: 12px;"><%= creater.caption.truncate(18) %></p>
          <% end %>
        </td>
        <!--フォロワー数-->
        <td class="align-middle" style="width:10%;">
          <p class="d-block text-center" style=" font-size: 12px; margin:0;" ><%= creater.followers.count %></p>
          <p class="d-block" style="font-size: 10px;">People</p>
        </td>
      </tr>
      <% break if i== 5 %>
      <% end %>
    </table>
    <!--アルバム閲覧数ランキング-->
    <h6 class="text-center text-main mx-auto">Album Listen Rank</h6>
    <table class="table mb-5" style="bordercolor= rgb(063,163,203)">
      <!--ランク番号用の変数-->
      <% i = 0  %>
      <% @album_impression_rank.each do |imp_rank|  %>
      <tr>
        <!--ランク番号-->
        <th class="align-middle" style="padding:0;" style="width:10%;">
          <% i += 1  %>
          <%= i %>
        </th>
        <!--アルバム詳細-->
        <td class="align-middle" style="width:20%; margin:0px; padding:0px;">
          <div class="text-center">
          <!--アルバム詳細へ-->
            <%= link_to artist_album_path(imp_rank)do%>
              <%= attachment_image_tag imp_rank, :album_image, size:"30x30",fallback: "sky-2076868_1280.jpg",class: "profile_image rounded-circle" %>
            <% end %>
          </div>
          <!--リスナー名-->
          <p class="text-center" style="font-size: 10px; margin:0px;"><%= imp_rank.name %></p>
        </td>
        <td class="align-middle" style="width:60%; margin:0px; padding:0px;">
          <%= link_to artist_album_path(imp_rank.id),class: "link-none",'data-turbolinks': false do %>
            <p class="align-self-center ml-3" style="font-size: 12px;"><%= imp_rank.caption.truncate(15) %> </p>
          <% end %>
        </td>
        <!--いいね数-->
        <td class="align-middle" style="width:10%;">
          <p class="d-block text-center" style=" font-size: 12px; margin:0;" ><%= imp_rank.impressions_count %></p>
          <p class="d-block" style="font-size: 10px;">Listens</p>
        </td>
      </tr>
      <% break if i== 5 %>
      <% end %>
    </table>
    <!--アルバム投稿へ-->
    <div class="text-center" style="margin-top:100px;">
      <!--アルバム投稿への権限がある人のみ進める-->
      <% if can? :read, current_listener  %>
      <!--アルバム投稿画面へ-->
        <%= link_to new_artist_album_path ,class:"link" do %>
          <div class="btn btn-outline-main btn-block"><i class="fas fa-compact-disc"></i> New Album</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

