<!--ホームページ-->
<h3 class="text-center" style="margin-top:50px;" ><i class="fas fa-home"></i> Home</h3>
<div class="row  mt-4" >
  <!--左メニュー-->
  <div class="col ml-md-5 column-left">
    <%= render "layouts/menu", mygroups: @mygroups %>
　　<h4 class="mx-auto text-main2">Easy Search</h4>
    <div class="infinite-search-box " style="margin-top:50px; margin-bottom:50px;">
      <div class="d-inline infinite-search-form">
      <% if current_page?(home_path)  %>
        <%= form_with url: search_posts_path, method: :get, local: true do |f|%>
          <%= f.text_field :keyword, placeholder: "Post Search",class: "form-control ", id: 'searching-form'%>
      </div>
      <div class="btn d-inline" style="padding:0;" >
        <i class="fas fa-search fa-lg hover " style="color:rgb(156,209,237); padding:0;"></i>
        <% f.submit %>
      </div>
        <% end %>
      <% end %>
    </div>
    <div class="search-post">

    </div>
  </div>
  <!--メイン、フォローいている人の投稿一覧-->
  <div class="col-md-5 ml-md-3  mt-md-5 column-center" >
    <div class="scroll-list jscroll">
      <!--投稿一覧部分テンプレート-->
     <%= render "public/posts/index", posts: @posts  %>
    </div>
  </div>
  <!--右側ランキング-->
  <div class="col mr-md-5 column-right">
    <!--いいねランキング-->
    <h6 class="mx-auto text-main">Like Ranking</h6>
      <%= render "layouts/favo_rank",favo_rank: @post_favorite_rank %>

    <!--閲覧数ランキング-->
    <h6 class="mx-auto text-main">View Ranking</h6>
       <%= render "layouts/impre_rank",imp_rank: @post_impression_rank %>
  </div>
</div>

