<div class="row  mt-5" >
  <div class="col ml-5">
  <h4 class="text-center">Menu</h4>
  <!-- Contenedor -->
  <ul id="accordion" class="accordion">
    <li>
      <div class="link"><i class="fas fa-tags"></i>Category<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "Rock",search_posts_path(:post_genre => 'ロック') %></li>
        <li><%= link_to "JPOP",search_posts_path(:post_genre => 'JPOP') %></li>
        <li><%= link_to "IDOL",search_posts_path(:post_genre => 'アイドル') %></li>
        <li><%= link_to "EDM",search_posts_path(:post_genre => 'EDM') %></li>
        <li><%= link_to "KPOP",search_posts_path(:post_genre => 'KPOP') %></li>
        <li><%= link_to "PANk",search_posts_path(:post_genre => 'パンク') %></li>
        <li><%= link_to "レゲエ",search_posts_path(:post_genre => 'レゲエ') %></li>
        <li><%= link_to "HIPHOP",search_posts_path(:post_genre => 'HIPHOP') %></li>
      </ul>
    </li>
    <li class="default open">
      <div class="link"><i class="fas fa-sort"></i>Sort<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "投稿が早い順" ,order_posts_path(:keyword => 'new') %></a></li>
        <li><%= link_to "投稿が古い順" ,order_posts_path(:keyword => 'old') %></a></li>
        <li><%= link_to "いいねが多い順" ,order_posts_path(:keyword => 'likes') %></a></li>
      </ul>
    </li>
    <li>
      <div class="link"><i class="fas fa-user-friends"></i>My Group<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <% @mygroups.each do |mygroup|%>
        <li><%= link_to mygroup.name, group_path(mygroup) %></li>
        <% end %>
      </ul>
    </li>
    <li><div class="link"><i class="fa fa-globe"></i>Music cite<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Spotify</a></li>
        <li><a href="#">AppleMusic</a></li>
        <li><a href="#">SoundCloud</a></li>
      </ul>
    </li>
  </ul>
  </div>
  <div class="col-lg-5 ml-3" >
     <%= render "public/posts/index", posts: @posts %>
  </div>
  <div class="col mr-5">
    <table class="table mb-5" style="bordercolor= rgb(063,163,203)">
      <thead>
        <h6 class="text-center text-main">Like Ranking</h6>
      </thead>
      <% i = 0  %>
      <% @post_favorite_rank.each do |fav_rank|  %>
      <tr>
        <th class="align-middle" style="padding:0;">
          <% i += 1  %>
          <%= i %>
        </th>
        <td class="d-flex">
          <div>
            <div>
              <%= attachment_image_tag fav_rank.listener, :profile_image, :fill, 30, 30, fallback: "no_image.jpg",size: "30x30",class: " rounded-circle" %>
            </div>
            <div style="font-size: 10px;">
              <%= fav_rank.listener.name %>
            </div>
          </div>
          <p class="align-self-center ml-3"style="font-size: 12px;" ><%= fav_rank.post_tweet.truncate(15) %></p>
        </td>
        <td class="align-middle">
          <p class="d-block text-center" style=" font-size: 12px; margin:0;" ><%= fav_rank.post_favorites.count %></p>
          <p class="d-block" style="font-size: 10px;">Likes</p>
        </td>
      </tr>
      <% break if i== 5 %>
      <% end %>
    </table>
    <table class="table .table-bordered">
      <thead>
        <h6 class="text-center text-main">View Ranking</h6>
      </thead>
      <% i = 0  %>
      <% @post_impression_rank.each do |imp_rank|  %>
      <tr>
        <th class="align-middle">
          <% i += 1  %>
          <%= i %>
        </th>
        <td class="d-flex">
          <div>

            <div>
              <%= attachment_image_tag imp_rank.listener, :profile_image, :fill, 30, 30, fallback: "no_image.jpg",size: "30x30",class: " rounded-circle" %>
            </div>
            <div style="font-size: 10px;">
              <%= imp_rank.listener.name %>
            </div>
          </div>
          <p class="align-self-center ml-3" style="font-size: 12px;"><%= imp_rank.post_tweet.truncate(15) %> </p>
        </td>
        <td class="align-middle" >
          <p ><%= imp_rank.impressions_count %></p>
        </td>
      </tr>
      <% break if i== 5 %>
      <% end %>
    </table>
  </div>
</div>

