<div class="row">
<div class="card bg-dark text-white" style="width:100%;">
  <%= image_tag asset_path("musical-background-2886886_1920.jpg"), class: "bd-placeholder-img bd-placeholder-img-lg card-img" ,style: "width: 100%; height:800px;" %>
  <div class="card-img-overlay text-center">
    <h1 class="card-title" style="margin-top:150px; font-size:60px;">Welcome To new Music</h1>
    <h1 class="card-title" style="margin-top:80px; font-size:60px;"><a class="js-modal-open link-none4" href="">Start</a></h1>
    <div class="modal js-modal" >
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
        <p class="mt-3" style="color:#000;">こちらから新規登録ができます。</br>
        アカウントをお持ちの方はログインへお進みください。
        </p>
        <div class="card-text btn btn-outline-main btn-block mt-5" >
          <%= link_to new_listener_registration_path ,class: "link-none2"  do %>
            <h3 class="link-none2"><i class="fas fa-user-plus"></i>Sign Up</h3>
          <% end %>
        </div>
        <div class="card-text btn btn-outline-main btn-block mt-5">
         <%= link_to new_listener_session_path,class: "link-none2" do%>
            <h3 class="link-none2"><i class="fas fa-sign-in-alt"></i>Log In</h3>
        <% end %>
        </div>
        <div class="mt-5">
          <a class="js-modal-close link-none2" href="">
            <i class="fas fa-times-circle fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row" style="margin-top:200px;">
  <div class="col-8 offset-2">
    <div class="text-center">
      <p>ようこそ、<strong>Nagano Cake</strong></strong>へ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
      </p>
    </div>
  </div>
</div>
<div class="row" style="margin-top:200px;">
  <div class="col-8 offset-2">
    <ul class="gallery" >
      <li>
        <%= link_to asset_path("images/musical-background-2886886_1920.jpg") ,'data-lightbox': "gallery1" do%>
         <%= image_tag asset_path("images/musical-background-2886886_1920.jpg") %>
        <% end %>
      </li>
      <li>
        <%= link_to asset_path("images/musical-background-2886886_1920.jpg") ,'data-lightbox': "gallery1" do%>
         <%= image_tag asset_path("images/musical-background-2886886_1920.jpg") %>
        <% end %>
      </li>
      <li>
        <%= link_to asset_path("images/musical-background-2886886_1920.jpg") ,'data-lightbox': "gallery1" do%>
         <%= image_tag asset_path("images/musical-background-2886886_1920.jpg") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>