<h3 class="text-center mt-5">HOME</h3>
<%= render "public/posts/index", posts: @posts %>

  <div class="row my-5">
    <div class="mx-auto">
      <table>
        <thead>
          <h4>いいねランキング</h4>
        </thead>
        <% i = 0  %>
        <% @post_favorite_rank.each do |fav_rank|  %>
        <tr>
          <th>
            <% i += 1  %>
            <%= i %>
            </th>
          <td><%= fav_rank.post_tweet %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row my-5">
    <div class="mx-auto">
      <table>
        <thead>
          <h4>閲覧数ランキング</h4>
        </thead>
        <% i = 0  %>
        <% @post_impression_rank.each do |imp_rank|  %>
        <tr>
          <th>
            <% i += 1  %>
            <%= i %>
            </th>
          <td><%= imp_rank.post_tweet %>  <%= imp_rank.impressions_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>