<h2 class="text-center my-5" ><i class="fas fa-retweet fa-lg"></i> Reposts</h2>
<!--自分の投稿一覧-->
<div class="row mt-5">
  <!--投稿があれば-->
  <% if reposts.exists? %>
  <div class="col-md-6 offset-md-3 column-center">
    <div class="scroll-list jscroll">
      <!--ブックマークを部分テンプレート取得-->
      <!--投稿一覧の部分テンプレート-->
      <% reposts.includes(:post).each do |repost| %>
      <!--投稿カード-->
        <div class="card ">
          <div class="card-body">
            <!--投稿者の名前と画像-->
            <div class="card-text" >
            <%= link_to listener_path(repost.post.listener),class: "link-none" do %>
              <table class="table table-borderless">
                <tr>
                  <!--リスナー画像-->
                  <td class="align-middle" style="width:60px; padding:0;">
                    <%= attachment_image_tag repost.post.listener,:profile_image ,size:"60x60", fallback: "sky-2076868_1280.jpg",class: "profile_image mt-3 rounded-circle" %>
                  </td>
                  <!--リスナー名-->
                  <td class="align-middle">
                    <%= repost.post.listener.name %>
                      <% if repost.post.listener.listener_type == 1  %>
                      <i class="far fa-user-circle " style="color:rgb(156,209,237);"></i>
                    <% end %>
                  </td>
                </tr>
              </table>
            <% end %>
            </div>
            <!--投稿文-->
            <h5 class="card-text text-center mt-2"><%= repost.post.post_tweet  %></h5>
            <!--タグ一覧-->
            <p class="card-text text-center">
              <% repost.post.tags.each do |tag| %>
                <%= link_to tag.tag_name, search_tag_posts_path(tag_id: tag.id) , class: "tag link" %>
              <% end %>
            </p>
            <!--投稿画像-->
            <div class="text-center mt-5">
              <%= link_to post_path(repost.post) do %>
                <%= attachment_image_tag repost.post,:picture,size:"200x200" %>
              <% end %>
            </div>
            <!--詳細ボタン群-->
            <div class="mt-4 d-flex justify-content-center" >
              <!--詳細画面へ-->
              <div class=" mt-4" style="margin-right:8%;" >
                <%= link_to post_path(repost.post),class: "card-title text-center", 'data-turbolinks': false do %>
                  <i class="fas fa-arrow-circle-right fa-lg main-color hover">
                    <p class="text-dark" style="font-size:12px;">Detail</p>
                  </i>
                <% end %>
              </div>
              <!--楽曲視聴-->
              <div class=" mt-4" style="margin-right:8%;" >
                <a class="card-title text-center" href="<%= repost.post.post_url %>" target="_blank">
                  <i class="fas fa-headphones-alt fa-lg main-color hover">
                    <p class="text-dark" style="font-size:12px;">Music</p>
                  </i>
                </a>
              </div>
              <!--いいね-->
              <div class=" mt-4" style="margin-right:8%;"  id="post_post_favorite_<%= repost.post.id  %>">
                <% @favorite = PostFavorite.find_by(post_id: repost.post_id,listener_id: current_listener.id) %>
                <%= render 'public/post_favorites/favorite', post: repost.post, favorite: @favorite %>
              </div>
               <!--リポスト-->
               <div class=" mt-4" style="margin-right:8%;"  id="post_repost_<%= repost.post.id  %>">
                 <% @repost = Repost.find_by(post_id: repost.post.id,listener_id: current_listener.id) %>
                 <%= render 'public/reposts/repost', post: repost.post, repost: @repost %>
               </div>
              <!--コメント-->
              <div class=" ml-2 mt-4">
                <i class="fas fa-comments text-info fa-lg main-color">
                  <%= repost.post.post_comments.count %><p class="text-dark " style="font-size:12px;">Comments</p>
                </i>
              </div>
            </div>
            <!--投稿日-->
            <div class="text-right"><%= l repost.post.created_at %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!--投稿が無ければ-->
  <% else %>
  <div class="col-6 offset-3 text-center">
    <p style="font-size:22px;">リポストした投稿はありません。</p>
    <% if @listener == current_listener  %>
      <!--投稿ホーム画面へ-->
      <%= link_to home_post_path ,class:"link" do %>
        <div class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i>Home Postへ</div>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>