
<!--プロフィール詳細-->
  <div class="row profile_box" style="margin-bottom:200px;">
    <%= attachment_image_tag @listener, :profile_back_image, size:"300x300",fallback: "topimage18.jpg",class: "my_back_image  w-100" %>
    <!--プロフィール画像-->
    <div class="text-center profile">
      <%= attachment_image_tag @listener, :profile_image, size:"300x300",fallback: "no_image.jpg",class: "rounded-circle " %>
    </div>
    <div class="col-md-6 mx-md-auto col-8 offset-2" style="margin-top:230px; padding-left:200px; padding-right:200px;">
      <div class="mt-3 text-center ">
        <!--プロフィール名-->
        <div class="mt-3">
          <% if @listener.listener_type == 1  %>
            <i class="far fa-user-circle fa-lg" style="color:rgb(156,209,237);"></i>
          <% end %>
          <p class="d-inline-block" style="font-size:22px;"><%= @listener.name %></p>
        </div>
      </div>
      <!--自己紹介-->
      <div class="mt-3 text-center">
        <strong><%= @listener.caption %></strong>
      </div>
      <!--フォロー・フォロワー-->
      <div class="my-4 text-center">
        <!--フォロー一覧-->
        <%= link_to listener_followings_path(@listener),class: "text-dark" do %>
          <i class="fas fa-user-check fa-lg mr-3 hover">
            Follow:&ensp;<%= @listener.followings.count %>
          </i>
        <% end %>
        <!--フォロワー一覧-->
        <%= link_to listener_followers_path(@listener),class: "text-dark" do %>
          <i class="fas fa-user-friends fa-lg hover">
            Follower:&ensp;<%= @listener.followers.count %>
          </i>
         <% end %>
      </div>
      <div>
        <% if @listener.listener_type == 1  %>
         　<!--クリエイター詳細へ-->
          <%= link_to  artist_creater_path(@listener.creater),class:"link" do%></i>
            <div class="btn btn-outline-main btn-block"><i class="far fa-user-circle"></i> Creater</div>
          <% end %>
        <% end %>
      </div>
      <!--フォロー・アンフォロー-->
      <div class="mt-3 text-center">
      <% unless current_listener.id == @listener.id  %>
        <button class="btn btn-outline-main btn-block">
          <% if current_listener.following?(@listener) %>
            <%= link_to listener_relationships_path(@listener), method: :delete ,class: "link" do %><i class="fas fa-user-slash">&nbsp;Unfollow</i><% end %>
          <% else %>
            <%= link_to listener_relationships_path(@listener), method: :post,class: "link" do %><i class="fas fa-user-check">&nbsp;Follow</i><% end %>
          <% end %>
        </button>
      <% end %>
      </div>
      <!--チャットへ-->
      <div class="mt-4">
        <% if (current_listener.followings.exists? @listener.id)  && (@listener.followings.exists? current_listener.id )%>
          <%= link_to chat_path(@listener) ,class:"link" do  %>
            <div class="btn btn-outline-main btn-block"><i class="far fa-envelope fa-lg"></i> Chat</div>
          <% end %>
        <% end %>
      </div>
      <!--編集画面へ-->
      <div class="text-right mt-3">
        <!--ログインユーザーと一致すれば-->
        <% if @listener == current_listener  %>
        <button class="btn">
          <%= link_to edit_listener_path(current_listener),class: "text-info" do%><i class="fas fa-user-edit"> Edit</i><% end %>
        </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <ul class="tab-list list-unstyled ">
        <li class="tab tab-active ">
          <p class="hover" style="margin-bottom:0px;"><i class="fas fa-headphones-alt"></i> My posts</p>
        </li>
        <li class="tab">
          <p class="hover" style="margin-bottom:0px;"><i class="fas fa-bookmark"></i> Bookmarks</p>
        </li>
        <li class="tab">
          <p class="hover" style="margin-bottom:0px;"><i class="fas fa-retweet fa-lg"></i> Reposts</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="tabbox-contents mt-5">
    <div class="tabbox box-show">
      <%= render "public/listeners/mypost", posts: @posts %>
    </div>
    <div class="tabbox">
      <%= render "public/listeners/bookmarks", bookmarks: @bookmarks %>
    </div>
    <div class="tabbox">
      <%= render "public/listeners/reposts", reposts: @reposts %>
    </div>
  </div>










