
    <% if @album_musics.exists?  %>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Music name</th>
          <th>caption</th>
          <th>Music</th>
          <th>Likes</th>
          <th>Comments</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0  %>
        <% album_musics.each do |music| %>
        <tr>
          <td class="align-middle">
            <% i += 1  %>
            <%= i %>
          </td>
          <td class="align-middle">
            <%= link_to artist_album_album_music_path(music.album_id,music),class:"link", 'data-turbolinks': false do%>
            <p style="font-size:18px;"><%= music.name  %></p>
            <% end %>
          </td>
          <td class="align-middle">
            <p><%= music.caption.truncate(15)  %></p>
          </td>
          <td class="align-middle">
            <a href="<%= music.music_url %>" target="_blank"><i class="fas fa-headphones-alt fa-lg main-color hover"></i></a>
          </td>
          </td>
          <td class="align-middle">
            <i class="fas fa-star fa-lg" style="color:rgb(255,243,063);"></i> <%= music.music_favorites.count %>
          </td>
          <td class="align-middle">
            <i class="fas fa-comments main-color"></i> <%= music.music_comments.count %>
          </td>
          <td class="align-middle">
          <%# 平均ランク 部分　%>
          <% @average_rate = music.music_comments.average(:rate) %>
            <div id="music_rate_<%= music.id  %>" data-score="<%= @average_rate %>" class="text-center " style="margin-top:10px;"></div>
          <% unless @average_rate.nil? %>
            <h6 class="text-center mt-3"><i><%= @average_rate.round(2) %></i></h6>
          <% else %>
            <h6 class="text-center mt-3"><i>0</i></h6>
          <% end %>
            <script>
              $('#music_rate_<%= music.id %>').empty();
              $('#music_rate_<%= music.id %>').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
              });
            </script>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <div class="col-8 offset-2">
      <h1 class="text-center"><i class="fas fa-listeners-slash"> No Music</h1></i>
    </div>
    <% end %>

