<!--楽曲編集画面-->
<h4 class = "text-center" style="margin-top: 100px;"><i class="fas fa-music"></i> Edit Music</h4>
<p class = "text-center mt-3 " style="font-size:12px;">下記のフォームへ入力してください。</p>
  <!--編集フォーム-->
  <div class="row form-row"style="margin-top: 100px; ">
    <div class="col-6 offset-3"style="margin-top: 100px; margin-bottom:100px;">
      <%= form_with( model: [@album,@album_music], url: artist_album_album_music_path(@album,@album_music), method: :patch, local: true, id: "form" ) do |f| %>
      <!--楽曲名-->
      <div class="form-group　mt-3">
        <%= f.label :楽曲名,class:"col-4 mr-2 mt-3  form-label",style: "font-size:13px;" %>
        <%= f.text_field :name,class: "form-control-static col-6",placeholder:"Music Name" %>
      </div>
      <!--楽曲説明-->
      <div class="form-group mt-3">
        <%= f.label :楽曲説明 ,class:"col-4 mr-2 mt-3 form-label" ,style: "font-size:14px;"%>
        <%= f.text_area :caption,rows:"2", autofocus: true, class: "form-control-static col-6",placeholder:"Caption" %>
      </div>
      <!--楽曲URL-->
      <div class="form-group　mt-3">
        <%= f.label :楽曲URL　,class:"col-4 mr-2 mt-3  form-label",style: "font-size:13px;" %>
        <%= f.text_field :music_url ,class: "form-control-static col-6",placeholder:"Music URL" %>
      </div>
      <!--楽曲更新-->
      <div class="form-group mt-3">
        <button class="btn btn-main mt-5 d-block mx-auto "><i class="fas fa-music"></i> Update
          <% f.submit %>
        </button>
      </div>
      <% end %>
    </div>
  </div>