<!--楽曲詳細画面-->
<h3 class="text-center" id="area-1" style="margin-top:100px;" ><i class="fas fa-music"></i> Music Detail</h3>
<!--楽曲詳細カード-->
<div class="card shadow-lg mb-3 mx-auto " style="max-width: 800px; height: 300px; margin-top:100px;">
  <div class="row">
    <!--楽曲イメージ linkpreviewで取得-->
    <div class="col-4 my-auto">
      <img class="card-img" id="link_img" style="width:270px; height:300px;" src=""/>
    </div>
    <!--楽曲名と説明 linkpreviewで取得-->
    <div class="col-7">
      <div class="card-body">
        <h3 class="card-title text-center"><%= @album_music.name  %></h3>
        <p class="text-center"><%= @album_music.caption  %></p>
        <a class="link" id="link" href="<%= @album_music.music_url%>" target="_blank"><h6 class="text-center" id="linktitle"></h6></a>
      </div>
      <!--いいね・コメント-->
      <div class="card-text mt-3 d-flex justify-content-center">
        <div class="d-inline " style="margin-right:20px;" id="music_music_favorite_<%= @album_music.id  %>">
          <%= render 'artist/music_favorites/favorite', album: @album, album_music: @album_music, favorite: @favorite %>
        </div>
        <div class="d-inline ml-2">
          <i class="fas fa-comments text-info fa-lg"></i> <%= @music_comments.count %>
        </div>
      </div>
      <!--編集・削除-->
      <div class="card-text text-center mt-3">
      <!--ログインユーザーと一致すれば-->
      <% if @album_music.album.creater.listener == current_listener  %>
        <!--楽曲編集-->
        <button class="btn">
          <%= link_to edit_artist_album_album_music_path(@album_music.album, @album_music),class: "text-info" do%>
            <i class="fas fa-user-edit">Edit</i>
          <% end %>
        </button>
        <!--楽曲削除-->
        <button class="btn">
          <%= link_to artist_album_album_music_path(@album_music.album, @album_music),method: :delete,"data-confirm" => "本当に消しますか？", class: "text-danger" do%>
            <i class="fas fa-user-edit">Delete</i>
          <% end %>
        </button>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!--コメント登録・一覧-->
<div class="row mt-4" id="comment">
  <%= render "artist/music_comments/comments", album: @album, album_music: @album_music, music_comment: @music_comment, music_comments: @music_comments %>
</div>
<!--バックボタン・アルバム詳細へ-->
<div class="row mt-5 ">
  <div class="col-8 offset-2">
    <%= link_to artist_album_path(@album), 'data-turbolinks': false  do%>
      <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Album Detailへ</button>
    <% end %>
  </div>
</div>


