<h2 class="text-center" id="area-1" style="margin-top:100px;"><i class="far fa-user-circle"></i> Creaters</h2>
<div class="row"style="margin-top:80px;">
  <div class="col-md-10 offset-md-1">
    <table class="table">
      <thead>
        <!---->
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Introduction</th>
          <th class="text-center">Albums</th>
          <th class="text-center">Follow&Unfollow</th>
          <th class="text-center">Follow</th>
          <th class="text-center">Follower</th>
          <th class="text-center">Chat</th>
        </tr>
      </thead>
      <tbody>
        <% @creaters.each do |creater|  %>
        <tr>
          <!--クリエイター名と画像-->
          <td class="align-middle text-center">
            <!--クリエイターページへのリンク付き-->
            <%= link_to artist_creater_path(creater),class:"text-dark" do%>
            <div>
              <%= attachment_image_tag creater.listener, :profile_image,size:"50x50", fallback: "sky-2076868_1280.jpg",class: "rounded-circle"%>
            </div>
            <div>
              <%= creater.listener.name %>
              <% if creater.listener.listener_type == 1  %>
                <i class="far fa-user-circle " style="color:rgb(156,209,237);"></i>
              <% end %>
            </div>
            <% end %>
          </td>
          <!--クリエイター自己紹介-->
          <td class="align-middle text-center">
            <p class="text-dark ml-2" style="font-size:14px;">
              <% unless creater.listener.caption.nil? %>
              　<%= creater.listener.caption.truncate(20) %>
              <% end %>
            </p>
          </td>
          <!--投稿アルバム数-->
          <td class="align-middle text-center">
            <i class="fas fa-listener-check fa-lg mt-3"><%= creater.albums.count %></i>
          </td>
          <!--フォローとアンフォロー-->
          <td class="align-middle text-center">
            <% unless current_listener.id == creater.listener.id %>
              <% if current_listener.followings.exists?(creater.listener.id) %>
                <%= link_to listener_relationships_path(creater.listener.id), method: :delete ,class: "link" do %>
                  <div class="btn btn-outline-main">Unfollow</div>
                <% end %>
              <% else %>
                <%= link_to listener_relationships_path(creater.listener.id), method: :post,class: "link"  do %>
                  <div class="btn btn-main">Follow</div>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <!--フォロー数-->
          <td class="align-middle text-center">
            <!--フォロー一覧へのリンク-->
            <%= link_to listener_followings_path(creater.listener),class:"text-dark"  do %>
              <i class="fas fa-listener-check fa-lg mt-3"><%= creater.listener.followings.count %></i>
            <% end %>
          </td>
          <!--フォロワー数-->
          <td class="align-middle text-center">
            <!--フォロワー一覧へのリンク-->
            <%= link_to listener_followers_path(creater.listener),class:"text-dark"  do %>
              <i class="fas fa-listener-friends fa-lg mt-3"><%= creater.listener.followers.count %></i>
            <% end %>
          </td>
          <!--チャットボタン-->
          <td class="align-middle text-center">
            <!--相互フォロー（マッチング）できていればチャットへ-->
            <% if (current_listener.followers.include? creater.listener)  && (creater.listener.followers.include? current_listener )%>
              <%= link_to chat_path(creater.listener),class: "link" do  %>
                <div class="btn btn-main"> Chat</div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--バックボタン-->
<div class="row mt-5 ">
    <div class="col-8 offset-2">
    <!--前のページへ-->
    <%= link_to 'javascript:history.back()' do%>
      <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Back</button>
    <% end %>
  </div>
</div>




