<h4 class = "text-center" style="margin-top: 100px;">SignUp</h4>
<p class = "text-center mt-3 " style="font-size:12px;">下記のフォームへ入力してください。</p>
  <div class="row form-row"style="margin-top: 100px; ">
    <div class="col-6 offset-3"style="margin-top: 100px; margin-bottom:100px;">
      <%= form_with model: @listener, url:listener_registration_path,local: true do |f| %>
      <%= render "public/listeners/shared/error_messages", resource: resource %>
      <div class="form-group mt-5">
        <%= f.label :名前 ,class:"col-4 mr-2 form-label" ,style: "font-size:13px;"%>
        <%= f.text_field :name, autofocus: true,class: "form-control-static col-3",placeholder:"Name", id:"registration_name"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :メールアドレス,class:"col-4 mr-2 form-label",style: "font-size:13px;" %>
        <%= f.email_field :email, autocomplete: "email" ,class: "form-control-static col-6",placeholder:"E-mail", id:"registration_email"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :パスワード（６文字以上）,class:"col-4 mr-2 form-label" ,style: "font-size:13px;"%>
        <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control-static col-6",placeholder:"Password", id:"registration_password"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :パスワード（確認用）,class:"col-4 mr-2 form-label",style: "font-size:13px;" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control-static col-6",placeholder:"Password confirmed", id:"registration_password_confirmation" %>
      </div>
      <div class="actions text-center" >
        <!--リスナータイプ。default：０であるため。-->
        <%= f.hidden_field :listener_type, :value => 0  %>
        <button class="btn btn-main">SignUp</button>
        <% f.submit %>
      </div>
      <%end %>
    </div>
  </div>
  <div class="row"style="margin-top: 50px;">
    <div class="col-6 offset-3">
    <div class="text-center" style="margin-top: 50px;" >
      <h6>既に登録済みの方</h6>
        <!--ログインや各SNSログイン先へ遷移-->
        <%= render "public/listeners/shared/links" %>
    </div>
    </div>
  </div>