<h4 class = "text-center" style="margin-top: 100px;">Confirm</h4>
<p class = "text-center mt-3 " style="font-size:12px;">下記のフォームを確認してください。</p>
  <div class="row form-row"style="margin-top: 100px; ">
    <div class="col-6 offset-3"style="margin-top: 100px; margin-bottom:100px;">
      <%=  form_with model: @inquiry ,url: inquiry_index_path, method: :post ,local: true do |f| %>
      <div class="form-group mt-5">
        <table class="table table-borderless">
          <tr>
            <th style="border-bottom:1px solid #fff;">Name</th>
            <td style="border-bottom:1px solid #fff;">
              <%= f.hidden_field :name %>
              <%= @inquiry.name %>
            </td>
          </tr>
          <tr>
            <th style="border-bottom:1px solid #fff;">E-mail</th>
            <td style="border-bottom:1px solid #fff;">
              <%= f.hidden_field :email %>
              <%= @inquiry.email %>
            </td>
          </tr>
          <tr>
            <th style="border-bottom:1px solid #fff;">Message</th>
            <td class="align-middle" style="border-bottom:1px solid #fff;">
              <%= f.hidden_field :message %>
              <%= simple_format(@inquiry.message) %>
            </td>
          </tr>
        </table>
      <div class="actions text-center" >
        <button class="btn btn-main">Send</button>
        <% f.submit %>
      </div>
      <%end %>

      <%= form_with model: @inquiry, url: back_inquiry_index_path,method: :post, local: true do |f| %>
      <div class="actions text-center mt-3" >
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :message %>
        <button class="btn btn-main">Back</button>
        <% f.submit %>
      </div>
      <% end %>
    </div>
  </div>
