  <header id="header" class=" sticky-top" >
    <nav class="navbar navbar-expand navbar-light justify-content-center" >
      <div class="container " style="margin-right:0px; margin-left:0px; margin-bottom:0px;" >
        <div id="hm-icon" style="margin-bottom:40px;">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
          <ul class="navbar-nav ">
            <% if listener_signed_in? %>
            <a class="navbar-brand mr-auto" href="/"><%= image_tag asset_path("logo.jpg") ,size: '120x100',id: "logo"%></a>
            <li class="nav-item" >
              <%= link_to "#",class: 'nav-link ',id: "search" do %>
                <i class="fas fa-search-plus"></i>
                <span class="nav-text">Search</span>
              <% end %>
            </li>
            <li class="nav-item" >
              <%= link_to new_post_path,class: 'nav-link' do %>
                <i class="fas fa-plus-circle "></i>
                <span class="nav-text">New Post</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to home_path,class: 'nav-link ' do %>
                <i class="fas fa-home"></i>
                <span class="nav-text">Home</span>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to listener_path(current_listener),class: 'nav-link ' do %>
                <i class="far fa-user"></i>
                <span class="nav-text">Mypage</span>
              <% end %>
            </li>
            <!--チェックしていない通知があればアイコンが黄色くなる。-->
            <% if unchecked_notifications.any? %>
              <li class="nav-item">
                <%= link_to notifications_path,class: 'nav-link' do %>
                  <i class="fas fa-bell" style="color: rgb(255,243,063)"></i>
                  <span class="nav-text">Notifications</span>
                <% end %>
              </li>
            <!--全てチェックしていれば-->
            <% else %>
              <li class="nav-item">
                <%= link_to notifications_path,class: 'nav-link' do %>
                  <i class="far fa-bell"></i>
                  <span class="nav-text">Notifications</span>
                <% end %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to destroy_listener_session_path, method: :delete,class: 'nav-link ' do %>
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-text">Logout</span>
              <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to new_listener_registration_path,class: 'nav-link ' do %><i class="fas fa-listener-plus"></i>SignUp<% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_listener_session_path,class: 'nav-link ' do %><i class="fas fa-sign-in-alt"></i>Login<% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>