<!--ヘッダーの部分テンプレート-->
<header id="header" class=" sticky-top" >
  <nav class="navbar navbar-expand navbar-light justify-content-center" >
    <div class="container " style="margin-right:0px; margin-left:0px; margin-bottom:0px;" >
      <!--ハンバーガーアイコン-->
      <div id="hm-icon" style="margin-bottom:40px;">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!--ナビゲーションバー-->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <!--ログインしていれば-->
          <% if listener_signed_in? %>
          <!--1つ目のリンク-->
          <!--ロゴ-->
          <a class="navbar-brand mr-auto" href="/"><%= image_tag asset_path("logo.png") ,size: '120x100',id: "logo"%></a>
           <!--2つ目のリンク-->
          <!--検索バー-->
          <li class="nav-item" >
            <%= link_to "#",class: 'nav-link ',id: "search" do %>
              <i class="fas fa-search-plus"></i>
              <span class="nav-text">Search</span>
            <% end %>
          </li>
           <!--3つ目のリンク-->
          <!--新規投稿-->
          <li class="nav-item" >
            <%= link_to new_post_path,class: 'nav-link' do %>
              <i class="fas fa-plus-circle "></i>
              <span class="nav-text">New Post</span>
            <% end %>
          </li>
          <!--4つ目のリンク-->
          <!--ホームページ(投稿)へ-->
          <li class="nav-item">
            <%= link_to home_post_path,class: 'nav-link ' do %>
              <i class="fas fa-headphones-alt"></i>
              <span class="nav-text">Home Post</span>
            <% end %>
          </li>
           <!--5つ目のリンク-->
          <!--ホームページ(アルバム)へ-->
          <li class="nav-item">
            <%= link_to home_album_path,class: 'nav-link ' do %>
              <i class="fas fa-compact-disc"></i>
              <span class="nav-text">Home Album</span>
            <% end %>
          </li>
           <!--6つ目のリンク-->
          <!--マイページへ-->
          <li class="nav-item ">
            <%= link_to listener_path(current_listener),class: 'nav-link ' do %>
              <i class="far fa-user"></i>
              <span class="nav-text">Mypage</span>
            <% end %>
          </li>
          <!--7つ目のリンク-->
          <!--通知ページへ-->
          <!--チェックしていない通知があればアイコンが黄色くなる。-->
          <% if unchecked_notifications.any? %>
            <li class="nav-item">
              <%= link_to notifications_path,class: 'nav-link' do %>
                <i class="fas fa-bell" style="color: rgb(255,243,063)"></i>
                <span class="nav-text">Notifications</span>
              <% end %>
            </li>
          <!--全てチェックしていれば-->
          <% else %>
            <li class="nav-item">
              <%= link_to notifications_path,class: 'nav-link' do %>
                <i class="far fa-bell"></i>
                <span class="nav-text">Notifications</span>
              <% end %>
            </li>
          <% end %>
          <!--8つ目のリンク-->
          <!--ログアウト-->
          <li class="nav-item">
            <%= link_to destroy_listener_session_path, method: :delete,class: 'nav-link ' do %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-text">Logout</span>
            <% end %>
          </li>
          <!--ログインしていなければ-->
          <% else %>
          <li class="nav-item">
            <%= link_to new_listener_registration_path,class: 'nav-link ' do %><i class="fas fa-listener-plus"></i>SignUp<% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_listener_session_path,class: 'nav-link ' do %><i class="fas fa-sign-in-alt"></i>Login<% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>