  <table class="table mb-5" style="bordercolor= rgb(063,163,203)">
  <!--ランク番号用の変数-->
  <% i = 0  %>
  <% imp_rank.each do |imp_rank|  %>
  <tr>
    <!--ランク番号-->
    <th class="align-middle" style="padding:0;" style="width:10%;">
      <% i += 1  %>
      <%= i %>
    </th>
    <!--リスナー名と画像-->
    <td class="align-middle" style="width:20%; margin:0px; padding:0px;">
        <div class="text-center">
          <!--リスナー詳細へ-->
          <%= link_to listener_path(imp_rank.listener)do%>
            <!--リスナー画像-->
            <%= attachment_image_tag imp_rank.listener, :profile_image, size:"30x30", fallback: "no_image.jpg",class: " profile_image rounded-circle" %>
          <% end %>
        </div>
        <!--リスナー名-->
        <p class="text-center" style="font-size: 10px; margin:0px;"><%= imp_rank.listener.name %></p>
    </td>
    <td class="align-middle" style="width:60%; margin:0px; padding:0px;">
      <%= link_to post_path(imp_rank.id),class: "link-none",'data-turbolinks': false do %>
        <p class=" align-self-center ml-3"style="font-size: 12px;" ><%= imp_rank.post_tweet.truncate(15) %></p>
      <% end %>
    </td>
    <!--閲覧数-->
    <td class="align-middle" style="width:10%;">
      <p class="d-block text-center" style=" font-size: 12px; margin:0;" ><%= imp_rank.impressions_count %></p>
      <p class="d-block" style="font-size: 10px;">views</p>
    </td>
  </tr>
  <% break if i== 5 %>
  <% end %>
</table>