  <h4 class="text-center">Menu</h4>
  <!-- Contenedor -->
  <ul id="accordion" class="accordion">
    <li>
      <div class="link"><i class="fas fa-tags"></i>Category<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "Rock",search_posts_path(:post_genre => 'ロック') %></li>
        <li><%= link_to "JPOP",search_posts_path(:post_genre => 'JPOP') %></li>
        <li><%= link_to "IDOL",search_posts_path(:post_genre => 'アイドル') %></li>
        <li><%= link_to "EDM",search_posts_path(:post_genre => 'EDM') %></li>
        <li><%= link_to "KPOP",search_posts_path(:post_genre => 'KPOP') %></li>
        <li><%= link_to "PANK",search_posts_path(:post_genre => 'パンク') %></li>
        <li><%= link_to "レゲエ",search_posts_path(:post_genre => 'レゲエ') %></li>
        <li><%= link_to "HIPHOP",search_posts_path(:post_genre => 'HIPHOP') %></li>
      </ul>
    </li>
    <li class="default open">
      <div class="link"><i class="fas fa-sort"></i>Sort<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "投稿が早い順" ,order_posts_path(:keyword => 'new') %></a></li>
        <li><%= link_to "投稿が古い順" ,order_posts_path(:keyword => 'old') %></a></li>
        <li><%= link_to "いいねが多い順" ,order_posts_path(:keyword => 'likes') %></a></li>
      </ul>
    </li>
    <li>
      <div class="link"><i class="fas fa-user-friends"></i>My Group<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <% mygroups.each do |mygroup|%>
        <li><%= link_to mygroup.name, group_path(mygroup) %></li>
        <% end %>
      </ul>
    </li>
    <li><div class="link"><i class="fa fa-globe"></i>Music cite<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Spotify</a></li>
        <li><a href="#">AppleMusic</a></li>
        <li><a href="#">SoundCloud</a></li>
      </ul>
    </li>
  </ul>