<!--メニューバーの部分テンプレート-->
<h4 class="mx-auto text-main2">Menu</h4>
  <!--メニューバーの内容-->
  <ul id="accordion" class="accordion">
    <!--投稿のジャンル検索-->
    <li>
      <div class="link"><i class="fas fa-tags"></i>Post Category<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "Rock",search_genre_posts_path(:post_genre => 'ロック') %></li>
        <li><%= link_to "JPOP",search_genre_posts_path(:post_genre => 'JPOP') %></li>
        <li><%= link_to "IDOL",search_genre_posts_path(:post_genre => 'アイドル') %></li>
        <li><%= link_to "EDM",search_genre_posts_path(:post_genre => 'EDM') %></li>
        <li><%= link_to "KPOP",search_genre_posts_path(:post_genre => 'KPOP') %></li>
        <li><%= link_to "PANK",search_genre_posts_path(:post_genre => 'パンク') %></li>
        <li><%= link_to "レゲエ",search_genre_posts_path(:post_genre => 'レゲエ') %></li>
        <li><%= link_to "HIPHOP",search_genre_posts_path(:post_genre => 'HIPHOP') %></li>
      </ul>
    </li>
    <!--アルバムのジャンル検索-->
    <li>
      <div class="link"><i class="fas fa-tags"></i>Album Category<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "Rock",search_genre_artist_albums_path(:genre => 'ロック') %></li>
        <li><%= link_to "JPOP",search_genre_artist_albums_path(:genre => 'JPOP') %></li>
        <li><%= link_to "IDOL",search_genre_artist_albums_path(:genre => 'アイドル') %></li>
        <li><%= link_to "EDM",search_genre_artist_albums_path(:genre => 'EDM') %></li>
        <li><%= link_to "KPOP",search_genre_artist_albums_path(:genre => 'KPOP') %></li>
        <li><%= link_to "PANK",search_genre_artist_albums_path(:genre => 'パンク') %></li>
        <li><%= link_to "レゲエ",search_genre_artist_albums_path(:genre => 'レゲエ') %></li>
        <li><%= link_to "HIPHOP",search_genre_artist_albums_path(:genre => 'HIPHOP') %></li>
      </ul>
    </li>
    <!--投稿の並び替え-->
    <li>
      <div class="link"><i class="fas fa-sort"></i>Post Sort<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "投稿が早い順" ,order_posts_path(:keyword => 'new') %></li>
        <li><%= link_to "投稿が古い順" ,order_posts_path(:keyword => 'old') %></li>
        <li><%= link_to "いいねが多い順" ,order_posts_path(:keyword => 'likes') %></li>
      </ul>
    </li>
    <!--マイページの内容-->
    <li class="default open">
      <div class="link"><i class="fas fa-user-friends"></i>My Friend<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><%= link_to "Follow" , listener_followings_path(current_listener) %></li>
        <li><%= link_to "Follower" , listener_followers_path(current_listener) %></li>
        <li><%= link_to "My page" , listener_path(current_listener) %></li>
        <% if current_listener.listener_type == 1  %>
          <li><%= link_to "Creater page" , artist_creater_path(current_listener.creater) %></li>
        <% end %>
      </ul>
    </li>
    <!--自分のグループ一覧-->
    <li>
      <div class="link"><i class="fas fa-users"></i>My Group<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <% mygroups.each do |mygroup|%>
        <li><%= link_to mygroup.name, group_path(mygroup) %></li>
        <% end %>
      </ul>
    </li>
    <!--音楽サイトへのリンク-->
    <li><div class="link"><i class="fa fa-globe"></i>Music cite<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="https://www.youtube.com" target="_blank">Youtube</a></li>
        <li><a href="https://open.spotify.com" target="_blank">Spotify</a></li>
        <li><a href="https://www.apple.com/jp/apple-music/" target="_blank">AppleMusic</a></li>
        <li><a href="https://soundcloud.com" target="_blank">SoundCloud</a></li>
      </ul>
    </li>
  </ul>