<!DOCTYPE html>
<html>
  <head>
    <title>To new Music</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/fe634eb8bd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" >
  </head>

 <body　class="d-flex flex-column vh-100">
 <div id="all">
  <header id="header" class=" sticky-top" >
    <nav class="navbar navbar-expand navbar-light justify-content-center" >
      <div class="container " style="margin-right:0px; margin-left:0px; margin-bottom:0px;" >
        <div id="hm-icon" style="margin-bottom:40px;">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
          <ul class="navbar-nav ">
            <% if listener_signed_in? %>
            <a class="navbar-brand mr-auto" href="/"><%= image_tag "/assets/logo.jpg" ,size: '120x100',id: "logo"%></a>
            <li class="nav-item" >
              <%= link_to "#",class: 'nav-link ',id: "search" do %><i class="fas fa-search-plus">Search</i><% end %>
            </li>
            <li class="nav-item" >
              <%= link_to "#",class: 'nav-link ',id: "search" do %><i class="fas fa-search-plus">Search</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to root_path,class: 'nav-link ' do %><i class="fas fa-house-listener">Home</i><% end %>
            </li>
            <li class="nav-item ">
              <%= link_to listener_path(current_listener),class: 'nav-link ' do %><i class="fas fa-listener">Mypage</i><% end %>
            </li>
            <% if unchecked_notifications.any? %>
            <i class="fa fa-circle fa-sm" style="color: gold;"></i>
            <% end %>
            <li class="nav-item">
              <%= link_to notifications_path,class: 'nav-link' do %><i class="fas fa-house-listener">Notifications</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_listener_session_path, method: :delete,class: 'nav-link ' do %><i class="fas fa-sign-out-alt">Logout</i><% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to new_listener_registration_path,class: 'nav-link ' do %><i class="fas fa-listener-plus">SignUp</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_listener_session_path,class: 'nav-link ' do %><i class="fas fa-sign-in-alt">Login</i><% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class=" py-5 " id="search-form" >
      <div class="search-box">
        <div class="d-inline">
          <%= form_with url: search_path, method: :get,  local: true do |f|%>
            <%= f.text_field :keyword, placeholder: "Search",class: "form-control " ,id: "form-control"%>
            <%= f.select 'model', options_for_select({ "リスナー・クリエイター" => "listener", "投稿" => "post", "アルバム" => "album" }),class: "form-select " %>
        </div>
        <button class="btn">
          <i class="fas fa-search fa-lg "></i>
          <% f.submit %>
        </button>
          <% end %>
        <div class="d-inline">
            <%=  form_with url: search_posts_path ,method: :get, local: true do |f| %>
          <div>
            <%= f.select :post_genre, Post.post_genres.keys.to_a %>
          </div>
          <div>
            <%= f.submit %>
          </div>
            <% end %>
        </div>
      </div>
    </div>
    <div id="sp-menu" class="pt-5">
      <ul class="hidden-menu ml-auto " style="list-style-type: none" >
        <% if listener_signed_in? %>
          <li class="menu-item">
            <%= link_to root_path,class: 'nav-link ' do %><i class="fas fa-house-listener">Home</i><% end %>
          </li>
          <% if current_listener.listener_type == 0  %>
          <li class="menu-item">
            <%= link_to new_artist_creater_path, method: :get ,class: 'nav-link ' do %><i>NEW Creater</i><% end %>
          </li>
          <% end %>
          <li class="menu-item">
            <%= link_to artist_albums_path, method: :get ,class: 'nav-link ' do %><i>Albums</i><% end %>
          </li>
          <li class="menu-item">
            <%= link_to artist_creaters_path, method: :get ,class: 'nav-link ' do %><i>Creaters</i><% end %>
          </li>
        <li class="menu-item">
          <%= link_to new_post_path,class: 'nav-link ' do %><i class="fas fa-plus">NewPost</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to posts_path,class: 'nav-link ' do %><i class="fas fa-headphones-alt">Musics</i><% end %>
        </li>
        <li class="menu-item" >
          <%= link_to groups_path ,class: 'nav-link',id: "search" do %><i class="fas fa-listeners">Groups</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to new_inquiry_path,class: 'nav-link ' do %><i class="fas fa-house-listener">Inquiry</i><% end %>
        </li>
        <% else %>
        <li class="menu-item">
          <%= link_to new_listener_registration_path,class: 'nav-link ' do %><i class="fas fa-listener-plus">SignUp</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to new_listener_session_path,class: 'nav-link ' do %><i class="fas fa-sign-in-alt">Login</i><% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <%= content_tag(:div, flash[:alert], class: "alert alert-danger") if flash[:alert] %>
      <%= yield %>
  </main>

   <footer id="footer">
    <a class="mr-4 mb-5" href="#" id="page-top">TOP</a>
    <div class="row mb-2 pt-2" style="background-color:#e3f2fd; height: 40px">
      <div class="mx-auto">
        <i>Copyright © 2021 MY Inc. All rights reserved.</i>
      </div>
    </div>
   </footer>
</div>
</body>