<!--いいねした人一覧-->
<div class="container mt-4">
  <h2>Favorites</h2>
  <div class="row">
    <!--いいねした人がいれば-->
    <% if @favorites.exists?  %>
    <div class="col-8 offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Follow</th>
          <th>Follower</th>
          <th>chat</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favo|  %>
        <tr>
          <!--リスナー名と画像-->
          <td>
            <%= link_to listener_path(favo.listener.id)do %>
            <div>
              <%= attachment_image_tag favo.listener, :profile_image,size:"50x50", fallback: "no_image.jpg",class: "rounded-circle"%>
            </div>
            <div>
              <i class="text-dark ml-2"><%= favo.listener.name %></i>
            </div>
            <% end %>
          </td>
          <!--フォロー一覧-->
          <td>
            <%= link_to listener_followings_path(favo.listener),class:"text-dark"  do %>
            <i class="fas fa-listener-check fa-lg mt-3">
              <%= favo.listener.followings.count %>
            </i>
            <% end %>
          </td>
          <!--フォロワー一覧-->
          <td>
            <%= link_to listener_followers_path(favo.listener),class:"text-dark"  do %>
              <i class="fas fa-listener-friends fa-lg mt-3">
                <%= favo.listener.followers.count %>
              </i>
            <% end %>
          </td>
          <!--チャットへ-->
          <td>
            <!--相互フォローしていれば-->
            <% if (current_listener.followers.include? favo.listener)  && (favo.listener.followers.include? current_listener )%>
              <%= link_to chat_path(favo.listener.id) do  %>
                <div class="btn btn-info">Chat</div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<!--いいねした人がいなければ-->
<% else %>
<div class="text-center">
  <h1><i class="fas fa-listeners-slash">&nbsp;No favorite</h1></i>
</div>
<% end %>